section {
  display: none; /* hide all sections */
}

section.active {
  display: block; /* show only the active section */
}

#logo {
  display: block;
  margin: 20px auto;
  width: 275px;
  height: auto;
}

/* Font for regular text */
#nav {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 25px;
}

#nav .nav-link {
  border: 4px solid black;
  text-decoration: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin: auto 13px;
    padding: 25px;
    background: linear-gradient(to right, #a94257 0%, #f8b3b5 50%, #a94257 50%, #f8fff9 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: border-bottom 0.5s ease;
}

.nav-link:hover, .nav-link:focus {
    background-position: 0 0;
    transform: scale(1.17);
}

.nav-link:active {
    background-color: #f8b3b5;
    transform: scale(0.90);
}

@keyframes gradientRing {
  0% {
    box-shadow: 0 0 0 4px transparent, 0 0 10px 4px #ff0000;
  }
  25% {
    box-shadow: 0 0 0 4px transparent, 0 0 10px 4px #ffa500;
  }
  50% {
    box-shadow: 0 0 0 4px transparent, 0 0 10px 4px #00ff00;
  }
  75% {
    box-shadow: 0 0 0 4px transparent, 0 0 10px 4px #00ffff;
  }
  100% {
    box-shadow: 0 0 0 4px transparent, 0 0 10px 4px #ff0000;
  }
}

#our-history p {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  padding: 0 30px;
}

/* Style the images */
.downtown-moffett,
.moffett-sons,
.sam-l-moffett-grocer {
  display: flex;
  align-items: flex-start;
  margin: 30px 30px;
}

.downtown-moffett img,
.moffett-sons img,
.sam-l-moffett-grocer img {
  border-radius: 20px;
}

.moffett-sons {
  flex-direction: row-reverse;
}

/* Style the paragraphs */
.downtown-moffett p,
.moffett-sons p,
.sam-l-moffett-grocer p {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  flex: 1;
}

.PDF-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#PDF-viewer {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  margin-top: 20px;

}
